# -----------------------------
# Frontend
# -----------------------------
node_modules/
dist/
dist-ssr/

# -----------------------------
# Backend
# -----------------------------
backend/venv/
backend/__pycache__/
backend/*.pyc

# -----------------------------
# Environment variables
# -----------------------------
backend/.env
backend/.env.*

# -----------------------------
# Database files
# -----------------------------
backend/*.db

# -----------------------------
# Uploads
# -----------------------------
backend/uploads/

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# OS / Editor
# -----------------------------
.vscode/
.idea/
.DS_Store